.cast {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cast__detail {
    text-align: left;
    margin: 1.5rem 1rem;
    flex-basis: 40%;
    display: flex;
    flex-wrap: wrap;
    background-color: #efefe7;
    border-radius: 10px;
}

@media (max-width: 485px) {
    .cast__detail {
        justify-content: center;
        padding-bottom: 1rem;
    }
}
