.breadcrumb {
    padding: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 15%);
    border-radius: 0.5rem;
    width: 76%;
    margin: 1rem auto;
    background-color: #efefe7;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #1f4b47;
}

.breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "→";
}
.breadcrumb li a {
    color: #3c948b;
    text-decoration: none;
}
