.main {
    margin: 0;
    margin-left: 11%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

@media (max-width: 550px) {
    .main {
        justify-content: center;
    }
}

h1 {
    font-weight: 300;
    margin-left: 11%;
}
