.container {
    display: flex;
    margin: 0 11%;
    flex-wrap: wrap;
    justify-content: center;
}

.knownForCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
}

h2 {
    margin-left: 12%;
    font-size: 2.5rem;
    font-weight: 200;
}
