.knownForShows__Card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 25%;
}

.knownForShows__title {
    font-size: 2.5rem;
    font-weight: 200;
    margin-left: 0.5rem;
}
