.table {
    border-collapse: collapse;
    margin: 1.7rem auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table i {
    color: #3c948b;
}
.table i:hover {
    cursor: pointer;
}

.table thead tr {
    background-color: #3c948b;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 0.8rem 1rem;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table th {
    border-right: 1px white solid;
}

.name {
    width: 45%;
    text-align: center;
}

.number {
    width: 10%;
}

.score {
    width: 15%;
}

.date {
    width: 15%;
}

.table tr td:last-child {
    display: flex;
    justify-content: space-around;
    margin: 0 0.5rem;
}

.table tr td:nth-of-type(3) {
    line-height: inherit;
    color: #3c948b;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.table tr td:nth-of-type(3):hover {
    text-decoration: underline;
}
