.summary {
    flex-basis: 40%;
    text-align: left;
}

@media (max-width: 1094px) {
    .summary {
        flex-basis: 50%;
    }
}

@media (max-width: 545px) {
    .summary {
        flex-basis: 100%;
    }
}
