.header {
    background-color: #3f3f3f;
    padding: 20px;
    color: white;
}

.header--logo {
    width: 120px;
    cursor: pointer;
}

.header__logo__search {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
