.main {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    align-items: flex-start;
}

@media (max-width: 550px) {
    .main {
        justify-content: center;
    }
}
