.cardFooter {
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: solid 1px #ffffffe3;
    font-size: 1rem;
    color: white;
}

.cardFooter span {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: 200;
}
