.seasonInfo__seasonNumber {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
}

.seasonInfo {
    margin: 1rem;
    width: 80%;
}

.seasonInfo__networkChannelAndYear {
    margin: 0.5rem 0;
    line-height: 1;
    font-weight: 250;
    color: #cacaca;
}
