.seasonInfo h2 {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
}

.seasonInfo {
    margin: 1rem;
}

.seasonInfo img {
    width: 100%;
}

.seasonInfo h3 {
    margin: 0.5rem 0;
    line-height: 1;
}

.seasonInfo small {
    font-size: 100%;
    font-weight: 250;
    color: #cacaca;
}
