.navbar {
    background-color: #3d948b;
    color: white;
    width: 100vw;
}

.navbar__navLinks {
    width: 80%;
    margin: auto;
}

@media screen and (max-width: 760px) {
    .navbar__navLinks{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
