.moviePosterCard {
    background-color: #3c948b;
    margin: 1rem;
    flex-basis: 13rem;
    min-width: 8rem;
    max-width: 13rem;
    flex-grow: 1;
    flex-shrink: 1;
    color: #ffffffe3;
    font-size: 1em;
}

.moviePosterCard img {
    width: 100%;
    height: 90%;
}

.moviePosterCard i:hover {
    transform: scale(1.1);
    color: white;
}

.moviePosterCardFooter {
    margin: 0.15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
